<div class="home">
  <h1>SALUT</h1>
  <h2><%= @name %></h2>
  <h2><%= @path %></h2>
  <h2 class="alert">Et tu verras pas de connection à Bootstrap ici parcequ'on aime pas Bootstrap dans cette team !</h2>
</div>